#slider { 
    height: 90vh;
    position: relative;
    overflow: hidden;
    #btnLeft,#btnRight{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #btnLeft{
        left: 10px;
    }
    #btnRight{
        right: 10px;
    }
    .slide {
        height: 90vh;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        transform: scale(3);
        &.active{
            opacity: 1;
            visibility:visible;
            left: 0;
            transform: scale(1);
    
        }
        &:nth-child(1){
            background: url(../photo/Fall.png);
            background-size: cover;
        }
        &:nth-child(2){
            background: url(../photo/15402_00-2019-11-15-0322.jpg);
            background-size: cover;
        }
        &:nth-child(3){
            background: url(../photo/cff6fc083deccf0e230a31e56715ae23.jpg);
            background-size: cover; 
        }
        &:nth-child(4){
            background: url(../photo/Screen_Shot_2018-01-12_at_9.47.28_AM.webp);
            background-size: cover;
        }
    }
}